/* .pagination {
  margin: 15px auto;
  display: none;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  border-color: #c9d6d8;
  color: #000;
}

.pagination > li > a {
  border: 1px solid #c9d6d8;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
} */
